label {
  color: #8a8a8a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

}
.list-li{
  display: flex;
  flex-direction: column;
  border: solid #9fb4f2 2px;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 10px;
}

button{
  line-height: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid #eee;
  cursor: pointer;
  font-size: 15px;
  background-color: aquamarine;
  color: #eeeeee;
  font-weight: bold;
  align-items: center;
}
